body {
    background-color: black;
    color: white;
}


.googleMapHolder {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.googleMap {
    margin-top: 5%;
    filter: invert(100%);
    width: 70%;
    height: 60%;
}