<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMOS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <div class="length">
        <span>C</span>
        <span>O</span>
        <span>S</span>
        <span>M</span>
        <span class="letter"></span>
        <span>S</span>
    </div>
    <br>
    <h6>Проект 9Б класса</h6>
</body>
</html>