<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMOS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="googleMapHolder">
        <h1>КАРТА ЭКСКУРСИИ</h1>
        <iframe class="googleMap" src="https://www.google.com/maps/d/u/0/embed?mid=1DOs4oVxrgyCzrrtCql0fCZI3APSH94E&ehbc=2E312F&noprof=1"></iframe>
    </div>
</body>
</html>