<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMOS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="googleMapHolder">
        <h1 class="glow">КАРТА ЭКСКУРСИИ</h1>
        <iframe class="googleMap" src="https://www.google.com/maps/d/u/0/embed?mid=1DOs4oVxrgyCzrrtCql0fCZI3APSH94E&ehbc=2E312F&noprof=1"></iframe>
    </div>
    <div class="links1">
        <a href="/video">Ссылка раз</a><a href="/video1">Ссылка два</a><a href="/video2">Ссылка три</a>
    </div>
    <div class="links2">
        <a href="/video3">Ссылка четыре</a><a href="/video4">Ссылка пять</a>
    </div>
</body>
</html>